<!DOCTYPE html>
<html>

<head>
    <title>Jokes
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Chuck Norris Jokes</h1>
    <p>Welcome to Jokes!!!!</p>
</body>

</html>