<!DOCTYPE html>
<html>

<head>
    <title>Jokes
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Chuck Norris Jokes</h1>

    <% if (joke) { %>
        <p>
            <%= joke %>
        </p>
        <% } else { %>
            <p>Failed to fetch a Chuck Norris joke.</p>
            <% } %>

                <a href="/">Go back</a>

</body>

</html>